<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <a class="new-item" href="/bucketlist/new">Create a new Item</a>
    <form action="/user/logout?_method=DELETE" method="POST">
        <input class="logout-button" type="submit" value="Logout" />
    </form>
    <table class="bucketlist-table">
        <% for(let i = 0; i < Bucket.length; i++) { %>
        <tr>
            <td> <a href="/bucketlist/list/<%=Bucket[i].id%>"> <%= Bucket[i].title %> </a></td>
            <td><form action="/bucketlist/list/<%=Bucket[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form></td>
        </tr>
        <% } %>
    </table>
 </div>
</body>
</html>