<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="container">
    <form action="/bucketlist/list/<%=Bucket.id%>/edit" method="POST">
        <h2 class="title">Title</h2>
        <input class="title-input" type="text" name="title" value="<%= Bucket.title %>">
        <h2 class="what-do" >What to Do:</h2>
        <textarea class="what-do-input" name="moreInfo" cols="30" rows="10"><%= Bucket.moreInfo %></textarea>
        <!-- Completed: <input type="checkbox" name="completed"  <%= Bucket.completed ? 'checked' : 'unchecked' %>> -->
        <input class="button" type="submit" value="Update BucketList">
    </form>
</div>
</body>
</html>