<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
<header class="header">
    <h1 class="title"> AdventureList </h1>
   <ul class="nav-links">

    <li> <a class="login-link" href="/user/login">Login</a></li>
    <li> <a class="register-link" href="/user/">Register</a></li>

   </ul>
    <!-- <form  action="/user/logout?_method=DELETE" method="POST">
        <input type="submit" value="Logout" />
    </form> -->
</header>

<div class="carousel-container">
   
</div>
<div class="section1">
    <h1 id="adventure-begin">Let The Adventure Begin.</h1>
    <p> AdventureList is an application used for tracking Bucket List items and holding yourself accountable for accomplishing them.</p>


    <p><strong>Enjoy some suggestions below</strong></p>
</div>
<div class="section2">
    <div class="suggestion">
        <h3>Tokyo</h3>
        <a href="https://www.gotokyo.org/en/index.html">
        <img src="https://images.unsplash.com/photo-1503899036084-c55cdd92da26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Tokyo">
        </a>
    </div>
    <div class="suggestion">
        <h3>Finland</h3>
        <a href="https://www.visitfinland.com/en/">
        <img src="https://images.unsplash.com/photo-1528155124528-06c125d81e89?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1978&q=80" alt="Finland">
    </a>
    </div>
    <div class="suggestion">
        <h3>Rome</h3>
        <a href="https://romesite.com/">
        <img src="https://images.unsplash.com/photo-1555992828-ca4dbe41d294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="Rome">
         </a>
    </div>
    <div class="suggestion">
        <h3>Peru</h3>
        <a href="https://www.peru.travel/en">
        <img src="https://images.unsplash.com/photo-1415804941191-bc0c3bbac10d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80" alt="Peru">
        </a>
    </div>
    <div class="suggestion">
        <h3>Cuba</h3>
        <a href="https://www.visitcuba.com/">
        <img src="https://images.unsplash.com/photo-1588614380352-e8533179653b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Cuba">
        </a>
    </div>
    <div class="suggestion">
        <h3>Africa</h3>
        <a href="https://visitafrica.site/">
        <img src="https://images.unsplash.com/photo-1516026672322-bc52d61a55d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80" alt="Africa">
        </a>
    </div>

</div>
</body>
</html>