<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<body>
<header class="header">
    <h1 class="title"> AdventureList </h1>
   <ul class="nav-links">

    <li> <a class="login-link" href="/user/login">Login</a></li>
    <li> <a class="register-link" href="/user/">Register</a></li>

   </ul>
    <!-- <form  action="/user/logout?_method=DELETE" method="POST">
        <input type="submit" value="Logout" />
    </form> -->
</header>

<div class="carousel-container">
   
</div>
<div class="section1">
    <h1 id="adventure-begin">Let The <strong> Adventure </strong> Begin.</h1>
    <p> <Strong>AdventureList</Strong> is an application used for tracking Bucket List items and holding yourself accountable for accomplishing them.</p>


    <p><strong>Enjoy!</strong></p>
</div>

    
</body>
</html>