<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="login-container">

  <div class="login">
    <h1 class="login-title">Login</h1>
    <% if (typeof errorMessage !== 'undefined') { %>
      <p class="wrong-username"><%= errorMessage %></p>
  <% } %>
    <form action="/user/login/" method="POST">
      <input class="username" type="text" placeholder="Username" name="username" autocomplete="off"/>
      <input class="password" type="password" placeholder="Password" name="password"/>
      <input class="submit-btn" type="submit" value="Login" />
    </form>
    <p>Don't have an account?</p>
    <a class="signup-btn" href="/user/">Sign Up</a>
  </div>
  
</div>

</body>
</html>