<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdventureList</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="login-container">
  <div class="login">
  <h1 class="login-title">Create an Account</h1>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="wrong-username"><%= errorMessage %></p>
<% } %>


  <form action="/user/" method="POST">
    <input class="username" type="text" placeholder="Username" name="username" required/>
    <input class="password" type="password" placeholder="Password" name="password" required/>
    <input class="submit-btn" type="submit" value="Create Account" />
  </form>
 </div>
</div>
</body>
</html>