<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdventureList</title>
</head>
<body>
  <h1>Create an Account</h1>

  <form action="/user/" method="POST">
    <input type="text" placeholder="Username" name="username"/>
    <input type="password" placeholder="Password" name="password"/>
    <input type="submit" value="Create Account" />
  </form>
  <a href="/user/login">Login</a>

  
</body>
</html>