<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Add a new Item</h1>
       <h2><%= Bucket.title %></h2>
       <h2>More Info: <%= Bucket.moreInfo %></h2>
        Completed: <input type="checkbox" name="completed"  <%= Bucket.completed ? 'checked' : 'unchecked' %>>
        <a href="/bucketlist/list">Go Back</a>
        <a href="/bucketlist/list/<%=Bucket.id%>/edit">Edit</a>
</body>
</html>