<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureList</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Add a new Item</h1>
    <form action="/bucketlist/list" method="POST">
       Title: <input type="text" name="title" value="<%= Bucket.title %>">
       moreInfo: <textarea name="moreInfo" cols="30" rows="10"><%= Bucket.moreInfo %></textarea>
        Completed: <input type="checkbox" name="completed"  <%= Bucket.completed ? 'checked' : 'unchecked' %>>
        <input type="submit" value="Update BucketList">
    </form>
</body>
</html>