@media (max-width: 420px) {
    .bucket-title {
        font-size: 20px;
    }
}
* {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 4rem;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}
.bucketlist-table {
    position: relative;
    top: 30%;
    padding: 5rem;
    height: 100px;
    max-height: 80vh;
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: -1px 4px 18px 5px rgba(0,0,0,0.45);
    background-color: white;
    overflow-y: auto;
    display: relative;
    outline: white solid 1px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 0, 0, 0)), url(https://i.pinimg.com/originals/10/85/9d/10859d48896041068ada4c5a0a3f212a.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a {
    text-decoration: none;
}
.logout-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: .5rem;
    margin: 10px;
    border-radius: 10px;
    z-index: 2;
}
.new-item {
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .2rem;
    z-index: 2;
    margin: 10px;
    font-size: 30px;
    background-color: white;
}
td {
    position: relative;
    display: flex;
    border: 1px black solid;
    width: 100%;
    max-width: 150px;
}
.bucket-title {
color: white;
position: absolute;
bottom: 5px;
left: 0px;
padding: .2rem;
margin: 1rem;
}
.delete-btn {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    padding: .5rem;
    margin: 5px;
    background-color: transparent;
}